<header class="vector-header mw-header">
	<div class="vector-header-start">
		{{#data-logos}}{{>Logo}}{{/data-logos}}
		{{#data-main-menu}}
		{{>MainMenu}}
		{{/data-main-menu}}
	</div>
	<div class="vector-header-end">
		{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
		{{#data-discussions-button}}{{>Button}}{{/data-discussions-button}}
		{{#data-vector-user-links}}{{>UserLinks}}{{/data-vector-user-links}}
		{{>MobileNavigationToggle}}
	</div>
</header>
{{>MobileNavigation}}
