<header class="vector-header mw-header no-font-mode-scale">
	<div class="vector-header-start">
		{{#data-logos}}{{>Logo}}{{/data-logos}}
		{{#data-main-menu}}
		{{>MainMenu}}
		{{/data-main-menu}}
	</div>
	<div class="vector-header-end">
		{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
		{{#data-vector-user-links}}{{>UserLinks}}{{/data-vector-user-links}}
	</div>
</header>
