<div class="vector-dropdown mobile-navigation-show">
    <button class="mobile-navigation-show-toggle vector-dropdown-label cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only">
        <span class="vector-icon mw-ui-icon-menu mw-ui-icon-wikimedia-menu"></span>
        <span class="vector-dropdown-label-text">Show navigation</span>
    </button>
</div>
