<li id="{{id}}" class="mw-list-item utw-navbar-subitem">
	<a class="utw-navbar-subitem-link" href="{{href}}"{{#rel}} rel="{{.}}"{{/rel}}{{#target}} target="{{.}}"{{/target}}>
		<span>{{text}}</span>
		{{ #hasItems }} <span class="vector-icon mw-ui-icon-next mw-ui-icon-wikimedia-next"></span> {{ /hasItems }}
	</a>
	{{ #hasItems }}
	<div class="vector-menu-content utw-navbar-subitem-collapsable">
		<ul class="vector-menu-content-list">
			{{#items}}{{>NavbarSubitem}}{{/items}}
		</ul>
	</div>
	{{ /hasItems }}
</li>
