<div class="vector-page-toolbar">
	<div class="vector-page-toolbar-container">
		<div id="left-navigation">
			{{#data-categories}}{{>Categories}}{{/data-categories}}
		</div>
		<div id="right-navigation" class="vector-collapsible">
			{{>Indicators}}
			{{#data-lang-dropdown}}
				{{>LanguageDropdown}}
			{{/data-lang-dropdown}}
		</div>
	</div>
</div>
