<div class="vector-page-toolbar vector-feature-custom-font-size-clientpref--excluded">
	<div class="vector-page-toolbar-container">
		<div id="left-navigation">
		</div>
		<div id="right-navigation" class="vector-collapsible">
			{{>Variants}}
			{{#data-lang-dropdown}}
				{{>LanguageDropdown}}
			{{/data-lang-dropdown}}
			{{>Indicators}}
		</div>
	</div>
</div>
