// Mobile navigation styles
.mobile-navigation:not(.shown), .mobile-navigation-show {
	display: none;
}

.vector-header-container .mobile-navigation .vector-menu {
	.vector-menu-content {
		background-color: transparent;
		box-shadow: none;
		position: static;
		width: 100%;

		li a {
			color: @color-inverted-fixed;
		}
	}

	.utw-navbar-subitem > div.utw-navbar-subitem-collapsable {
		position: initial;
	}

	// Hover behavior is weird on mobile
	&:hover:not(.shown) .vector-menu-content {
		display: none;
	}
}

@media ( max-width: @max-width-breakpoint-tablet ) {
	.mobile-navigation-show {
		display: block;
	}
}

// Don't allow clicking on parent links when using a touch device.
@media ( pointer: coarse ) {
	.mobile-navigation .vector-menu-heading a,
	.utw-navbar-subitem.utw-navbar-parent > .utw-navbar-subitem-link {
		pointer-events: none;
	}
}
